* {
  padding: 0;
  margin: 0;
  text-align: right;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #525252d6;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:active {
  background-color: #aba4bad6;
}

body {
  --page-padding: 2rem;
  padding: 1rem var(--page-padding) 2rem;
  background-color: black;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

#content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem auto 0;
  gap: 2rem;
  position: relative;
}

main {
  color: aliceblue;
  width: 100%;
}
main img {
  width: 400px;
  float: left;
  border-radius: 1rem;
  margin: 0 1rem 1rem 0;
}
main h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
main h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
main p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}
.video-background {
  position: absolute;
  top: -10rem;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
  z-index: -10;
  width: 100%;
}


aside {
  width: 18rem;
  height: fit-content;
  padding: 0 1rem;
  position: sticky;
  top: 6rem;
}
aside ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
aside li a {
  color: aliceblue;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  height: 2.5rem;
  padding: 5px 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: fit-content;
  transition: all 0.5s;
}
aside li a:hover {
  background-color: rgb(19, 19, 19);
}
aside .back-page {
  display: block;
  border-radius: 1.5rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 2;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s;
}
aside .back-page svg {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  position: relative;
  top: 1px;
}
aside .back-page:hover svg {
  animation: arrow-go 0.7s;
}
aside .container {
  display: flex;
}
aside .pointer-container {
  width: 12px;
  height: 12.5rem;
  margin-right: 10px;
  padding: 0.5rem 3px 0 3px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(196, 196, 196);
}
aside .pointer-container div {
  height: 2.5rem;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  background-color: rgba(20, 9, 86, 1);
}

#contact-us {
  --height: 20rem;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  color: aliceblue;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 4rem;
  box-sizing: border-box;
}
#contact-us .container {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background: url("../picture/skye\ with\ stars.webp") center/cover no-repeat fixed;
  border-radius: 2rem;
}
#contact-us .line {
  width: 1px;
  margin: 0 2rem;
  background-color: aliceblue;
}
#contact-us .bottom-container {
  display: flex;
  /* justify-content: center; */
}
#contact-us .about-site {
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.479);
  padding: 1rem;
  width: 30vw;
}
#contact-us .about-site img {
  width: 100px;
}
#contact-us .about-site p {
  text-align: center;
  margin-bottom: 20px;
}
#contact-us .about-site div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-us svg {
  width: 20px;
  fill: white;
  margin-left: 10px;
}
#contact-us .links {
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
#contact-us .links h4 {
  text-align: center;
  margin-bottom: 20px;
}
#contact-us .links a {
  color: aliceblue;
  text-decoration: none;
  margin: 5px 0;
}
#contact-us form {
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact-us form h4 {
  text-align: center;
}
#contact-us form input,
#contact-us form textarea {
  all: unset;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: left;
}
#contact-us form input::placeholder {
  text-align: right;
}
#contact-us form textarea {
  margin-bottom: 10px;
  text-align: right;
  direction: rtl;
}
#contact-us form button {
  all: unset;
  background-color: rgb(5, 151, 93);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s;
}
#contact-us form button:hover {
  background-color: rgb(3, 93, 57);
}
#caption {
  font-size: 0.9rem;
  background-color: black;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 2rem;
  color: rgb(77, 80, 83);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {
  #contact-us .container {
    flex-direction: column-reverse;
  }
  #contact-us .line-2 {
    height: 1px;
    width: calc(100% - 30px);
    margin: 30px auto;
    border-radius: 10px;
  }
  #contact-us .bottom-container {
    justify-content: center;
  }
  #contact-us .links {
    width: 40%;
  }
  #contact-us form {
    width: 60%;
  }
  #contact-us .about-site {
    width: calc(100% - 2rem);
  }
  #content-container {
    flex-direction: column;
  }
  aside {
    position: static;
  }
  aside .container {
    display: none;
  }
}
@media (max-width: 900px) {
  body {
    --page-padding: calc(6vw + 1em);
  }
  main img {
    width: calc(100vw - 35rem);
  }
}
@media (max-width: 800px) {
  main {
    text-align: center;
  }
  main img {
    width: 20rem;
    float: none;
    max-width: 100%;
    margin: 0;
  }
  main h2 {
    text-align: center;
  }
  main h3 {
    text-align: center;
  }
  main p {
    text-align: center;
  }
}
@media (max-width: 700px) {
  #contact-us .bottom-container {
    flex-direction: column-reverse;
  }
  #contact-us .line-1 {
    height: 1px;
    width: calc(100% - 30px);
    margin: 30px auto;
    border-radius: 10px;
  }
  #contact-us .links {
    width: calc(50% + 4rem);
    margin: 0 auto;
  }
  #contact-us form {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  #contact-us {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  #contact-us .about-site div {
    font-size: 0.6rem;
  }
  #contact-us .about-site div svg {
    width: 0.8rem;
    margin: 2px;
  }
}
@media (max-width: 350px) {
  body {
    --page-padding: 1.5rem;
  }
  #contact-us .container {
    padding: 1.5rem;
  }
  .video-background {
    top: -6rem;
  }
}
@media (max-width: 320px) {
  #contact-us .container {
    padding: 1rem;
  }
}

@keyframes arrow-go {
  0% {
    right: 0;
  }
  50% {
    right: 15px;
  }
  100% {
    right: 0;
  }
}
