main {
  position: relative;
  width: 100%;
}
#contents-container-page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  direction: rtl;
  height: fit-content;
  gap: 2rem;
}
h3 {
  color: aliceblue;
  font-size: 3rem;
  margin: 3rem 0 2rem;
  z-index: 1;
}
.video-background {
  position: absolute;
  top: -6rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
  opacity: 0.3;
}
.container-img {
  cursor: pointer;
  border-radius: 2rem;
  background-color: rgb(31, 35, 36);
  padding: 25px;
  color: aliceblue;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  display: block;
  transition: all 0.5s;
}
.container-img:hover {
  background-color: rgb(37, 43, 47);
}
.container-img:hover .img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.container-img span {
  display: block;
}
.container-img .title {
  margin: 10px 0 5px;
  font-size: 1.4rem;
}
.container-img .img {
  border-radius: 1rem;
  height: 15rem;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.5s;
  box-shadow: none;
}
.back-page {
  display: inline-block;
  position: absolute;
  top: 4rem;
  left: 0;
  border-radius: 1.5rem;
  padding: 0.8rem 1rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s;
}
.back-page svg {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  position: relative;
  top: 1px;
}
.back-page:hover svg {
  animation: arrow-go 0.7s;
}

@media (max-width: 1700px) {
  #contents-container-page {
    grid-template-columns: repeat(4, 1fr);
  }
  .container-img .img {
    height: calc(25vw - 7rem);
  }
}
@media (max-width: 1300px) {
  #contents-container-page {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
  .container-img .img {
    height: calc(25vw - 2rem);
  }
}
@media (max-width: 1000px) {
  #contents-container-page {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-img .img {
    height: calc(30vw + 1rem);
  }
}
@media (max-width: 600px) {
  #contents-container-page {
    grid-template-columns: 1fr;
  }
  .container-img .title {
    text-align: center;
  }
  .container-img span {
    text-align: center;
  }
  .container-img .img {
    height: calc(80vw - 5rem);
  }
  .back-page {
    position: static;
    margin-top: 3rem;
  }
  h3 {
    margin-top: 1rem;
  }
}

@keyframes arrow-go {
  0% {
    right: 0;
  }
  50% {
    right: 15px;
  }
  100% {
    right: 0;
  }
}
